.profilepage{
   background-image: url("../assets/appimages/background.jpg") ;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
}

img{
   justify-content: space-between;
}

.image:hover{
    box-shadow: 2px 6px 12px 0px rgba(0,0,0,0.81), 0px 45px 26px 0px rgba(0,0,0,0.14);
}